/*-----GOOGLE FONTS-----*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,900;1,400&display=swap');

/*----RESET-----*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

/*----ROOT-----*/

:root {
    --facebook: #3b5999;
    --youtube: #ff002f;
    --twitter: #55acee;
    --linkedin: #0077b5;
    --google-plus: rgb(182, 75, 75);
}

/*----TITULOS-----*/

.texto-principal {
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
}

.texto-principal span {
    color: #B70E21;
}

.texto-secundario {
    font-size: 27px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
}

.body-contacto.light .texto-principal {
    color: black;
}

.texto-secundario span {
    color: #B70E21;
}

/*----BODY-----*/
.body-contacto {
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
}


.body-contacto.light {
    background: rgb(228, 226, 226);
}

/*----HEADER-----*/
.header-principal {
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/clima.jpg);
    background-position: center;
    background-size: cover;
}

/*----LOGO-----*/
.logo {
    width: 180px;
    cursor: pointer;
}

/*----LINEA-----*/
.linea {
    background: red;
    height: 2px;
    width: 100%;
    display: block;
}

.linea2 {
    background: #fff;
    height: 2px;
    width: 100%;
    display: block;
}

.body-contacto.light .linea2 {
    background: black;
}


/*----NAV-----*/
nav {
    height: 12%;
    display: flex;
    align-items: center;
}

.bar-btn {
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: rgb(248, 8, 8);
    transition: .3s;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu {
    display: block;
}

/*----PAGINA PRINCIPAL-----*/

.banner-text {
    padding: 0 30px;
    margin-top: 300px;
    text-align: center;
    color: #fff;
}

.banner-text h1 {
    font-size: 65px;
    margin-bottom: 30px;
}

.banner-text b {
    color: rgb(248, 8, 8);
}

.banner-text h2 {
    font-size: 35px;
    font-weight: 600;
}

.button1 {
    margin-right: 40px;
    padding: 10px 30px;
    background-color: rgb(248, 8, 8);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.button1:hover {
    background-color: #fff;
    color: rgb(248, 8, 8);
    transition: 1s;
}

.button2 {
    margin-right: 40px;
    padding: 10px 30px;
    background-color: #fff;
    color: rgb(248, 8, 8);
    border-radius: 5px;
    text-decoration: none;
}

.button2:hover {
    background-color: rgb(248, 8, 8);
    color: #fff;
    transition: 1s;
}

/*----APP CLIMA-----*/

.weather-content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    max-width: 501px;
    text-align: center;
    padding: 20px 20px 50px;
    margin: 10% auto 0;
    background-color: #111;
    border-radius: 15px;
    border: solid 2px #fff;
}

.body-contacto.light .weather-content {
    background-color: #fff;
    border: solid 2px #000;
}

.weather-content h1 {
    font-size: 34px;
    margin-bottom: 10px;
    color: #FFF;
}

.body-contacto.light .weather-content h1{
    color: #000;    
}

.weather-content p {
    color: #cfcfd9;
}

.body-contacto.light .weather-content p {
    color: black;
}


.result {
    margin-bottom: 8%;
}

.result p {
    margin: 5px 0 5px;
}

.result h2 {
    font-size: 70px;
    line-height: 70px;
    margin: -10px 0 10px;
    color: #fff;
}

.body-contacto.light .result h2 {
    color: black;
}

.result h5 {
    font-size: 21px;
    margin: 2px;
    color: #fff;
}

.body-contacto.light .result h5 {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form input[type="submit"],
form select {
    width: 100%;
    margin: 0px 0 25px;
    display: inline-block;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
}

form input[type="submit"] {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    background-color: rgb(248, 8, 8);
    border: 1px solid black;
    color: #fff;
    font-weight: 600;
    transition: width 1s;
}

.body-contacto.light form input[type="submit"] {
    color: black;

}

form input[type="submit"]:hover {
    width: 50%;
}

.alert-message {
    margin: 24px 0 0;
    color: red !important;
}

div.toastify {
    background: linear-gradient(135deg, #fff, rgb(248, 8, 8));
}

/* LARGE SIZE */
@media(min-width: 700px) {
    .body-contacto {
        padding: 0 4em;
    }
}

/*----FOOTER-----*/
footer {
    position: absolute;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.body-contacto.light footer {
    background: #fff;
}

.footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-div h3 {
    margin-left: 1.6rem;
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.body-contacto.light .footer-div h3 {
    color: black;
}

.footer-div p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.body-contacto.light .footer-bottom p {
    color: black;
}

.footer-bottom span {
    color: rgb(248, 8, 8);
    opacity: .4;
    text-transform: uppercase;
    font-weight: 200;
}

/*----REDES-----*/
.redes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes ul li {
    display: inline-block;
    margin: 0 21px;
    width: 50px;
    height: 50px;
    text-align: center;

}

.redes ul li a {
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
}

.redes ul:hover a {
    filter: blur(2px);
}

.redes ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.redes ul li .facebook:hover {
    background: var(--facebook);
}

.redes ul li .twitter:hover {
    background: var(--twitter);
}

.redes ul li .youtube:hover {
    background: var(--youtube);
}

.redes ul li .linkedin:hover {
    background: var(--linkedin);
}

.redes ul li .google-plus:hover {
    background: var(--google-plus);
}

/*----RESPONSIVE-----*/

@media (min-width:768px) {
    nav {
        height: 100px;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a {
        font-size: 14px;
        text-decoration: none;
    }

    .banner-text h1 {
        font-size: 70px;
        margin-bottom: 30px;
    }

    .banner-text h2 {
        font-size: 20px;

    }

}

/*----MODO OSCURO-----*/

.switch {
	background: #343D5B;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;
}
.switch::after {
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		background: #F1F1F1;
		top: 0;
		left: 0;
		right: unset;
		border-radius: 100px;
		transition: .3s ease all;
		box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
	}

.switch.active {
		background: orange;
		color: #000;
}
.switch.active::after {
			right: 0;
			left: unset;
		}
.oscuro {
		width: 30px;
		height: 30px;
		line-height: 30px;
		display: block;
		background: none;
		color: #fff;
	}

